*{
    margin: 0;
    padding: 0;
}

body{
    background: #fffffa;
}

.centrado{
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.topnav {
    list-style: none;
    background-color: #a00000;
    color: #fff;
    position: static;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.topnav a.active {
    background-color: #f2f2f2;
    color: #a00000;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    display: none;
}

.elemento-navi:hover {
    color: #a00000 !important;
    background-color: #fff !important
}

@media screen and (max-width: 665px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width:665px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    h1{
        font-size: 20px;
    }
}

.banner {
    background-color: #d9d9d9;
    height: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
}

.tuforoues {
    margin: 5px 0;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
    color: #f2f2f2;
    background-color: #252932;
    border-radius: 0.5em;
    font-weight: bold;
}

.titulo-seccion{
    margin: 5px 0;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
    color: #f2f2f2;
    background-color: #030f2c;
    border-radius: 0.5em;
    font-weight: bold;
}

footer {
    background-color: #a00000;
    font-size: 24px !important;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.cpy {
    display: block;
    font-family: monospace;
    font-size: 15px;
}

* {
    box-sizing: border-box;
}


.contenedor {
    max-width: 100%;
    position: relative;
    margin: auto;
}


.slides {
    display: none;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.text {
    color: #f2f2f2;
    text-shadow: 1px 1px #a00000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.desvan {
    -webkit-animation-name: desvan;
    -webkit-animation-duration: 1.5s;
    animation-name: desvan;
    animation-duration: 1.5s;
}

.list {
    list-style-type: none;
}
nav {
    
}
@-webkit-keyframes desvan {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes desvan {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.contenido-problema{

    margin: auto;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.p-problema{
    font-family: sans-serif;
}

.p-opinion{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style: italic;
    margin: auto;
    margin-left: 25%;
    margin-right: 25%;
}

.imagen-problema{
    margin: auto;
    height: 500px;
    width: 100%;
    max-width: 100%;
}

.titulo-problema{
    margin: auto;
    background-color: #a00000;

}

.discus{
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}